.idea
*.DS_Store
.DS_Store
vendor/
coverage/
composer.lock
.subsplit
.php_cs.cache
soar.log
soar
tests.php
.soar
.soar.dist
bin/soar.log
cghooks.lock
.phpunit.result.cache
clover.xml
.phplint-cache
.php-cs-fixer.cache
.build/
phpunit.xml
psalm.xml
.history/
test.php
