includes:
    - baselines/loader.neon
#    - phpstan-baseline.neon

    - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-loose-calls.neon
#    - vendor/spaze/phpstan-disallowed-calls/extension.neon

#    - vendor-bin/larastan/vendor/larastan/larastan/extension.neon
#    - vendor/ekino/phpstan-banned-code/extension.neon
#    - vendor/ergebnis/phpstan-rules/rules.neon
#    - vendor/phpstan/phpstan-strict-rules/rules.neon
#    - vendor/roave/no-floaters/rules.neon

    - vendor/symplify/phpstan-rules/config/code-complexity-rules.neon
#    - vendor/symplify/phpstan-rules/config/configurable-rules.neon
#    - vendor/symplify/phpstan-rules/config/naming-rules.neon
#    - vendor/symplify/phpstan-rules/config/static-rules.neon
#    - vendor/symplify/phpstan-rules/config/symplify-rules.neon

#    - vendor/symplify/phpstan-rules/config/doctrine-rules.neon
#    - vendor/symplify/phpstan-rules/config/phpunit-rules.neon
#    - vendor/symplify/phpstan-rules/config/rector-rules.neon
#    - vendor/symplify/phpstan-rules/config/symfony-rules.neon

parameters:
    paths:
        - src/
    scanFiles:
        - vendor/composer/InstalledVersions.php
    excludePaths:
        - tests/Fixtures/
#    level: max
    level: 5
    tmpDir: .build/phpstan
#    errorFormat: symplify
    errorFormat: friendly
    friendly:
        lineBefore: 3
        lineAfter: 3
        editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    type_coverage:
        declare: 0
        param_type: 0
        return_type: 0
        constant_type: 0
        property_type: 0
    type_perfect:
        narrow_param: false
        narrow_return: false
        null_over_false: false
        no_mixed: false
        no_mixed_property: false
        no_mixed_caller: false
    disallowedFunctionCalls:
        -
            function: 'env()'
            message: 'use config() instead'
        -
            function: 'env_explode()'
            message: 'use config() instead'
        -
            function: 'env_getcsv()'
            message: 'use config() instead'
    ignoreErrors:
#        - identifier: argument.templateType
#        - identifier: argument.type
#        - identifier: binaryOp.invalid
#        - identifier: cast.string
#        - identifier: encapsedStringPart.nonString
#        - identifier: method.nonObject
#        - identifier: missingType.generics
#        - identifier: missingType.iterableValue
#        - identifier: return.type
#        - identifier: return.void
        - identifier: symplify.noDynamicName
#        - identifier: typePerfect.noMixedMethodCaller

        - identifier: logicalAnd.resultUnused

        -
            message: '#^Call to method .*\(\) on an unknown class Guanguans\\SoarPHP\\Concerns\\HasOptions\.$#'
            path: src/Soar.php