includes:
    - phpstan-baseline.neon
#    - vendor-bin/larastan/vendor/larastan/larastan/extension.neon
#    - vendor/roavcome/no-floaters/rules.neon
#    - vendor/phpstan/phpstan-strict-rules/rules.neon
#    - vendor/ergebnis/phpstan-rules/rules.neon
#    - vendor/ekino/phpstan-banned-code/extension.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-loose-calls.neon

parameters:
    level: 5
    paths:
        - src
    tmpDir: .build/phpstan
#    checkOctaneCompatibility: true
#    checkModelProperties: true
#    checkMissingIterableValueType: true
#    disallowFloatsEverywhere: true

#    strictRules:
#        allRules: false
#        booleansInConditions: false
#        uselessCast: false
#        requireParentConstructorCall: false
#        disallowedConstructs: false
#        overwriteVariablesWithLoop: false
#        closureUsesThis: false
#        matchingInheritedMethodNames: false
#        numericOperandsInArithmeticOperators: false
#        strictCalls: false
#        switchConditionsMatchingType: false
#        noVariableVariables: false
    disallowedFunctionCalls:
        -
            function: 'env()'
            message: 'use config() instead'
        -
            function: 'env_explode()'
            message: 'use config() instead'
        -
            function: 'env_getcsv()'
            message: 'use config() instead'
    ignoreErrors:
        - "#^Unsafe usage of new static\\(\\)\\.$#"
        - '#^Call to method .*\(\) on an unknown class Guanguans\\SoarPHP\\Concerns\\HasOptions\.$#'
        - '#^Method Guanguans\\SoarPHP\\Support\\Rectors\\ToInternalExceptionRector\:\:refactor\(\) never returns \d so it can be removed from the return type\.$#'
        - '#^Method Guanguans\\SoarPHP\\Support\\Rectors\\ToInternalExceptionRector\:\:refactor\(\) should return 1\|2\|3\|4\|array\<PhpParser\\Node\>\|PhpParser\\Node\|null but empty return statement found\.$#'
        - '#^Unused result of "and" operator\.$#'
        -
            message: '#^Call to function function_exists\(\) with callable\-string will always evaluate to true\.$#'
            path: src/Soar.php
        -
            message: '#^Calling var_dump\(\) is forbidden, use some logger instead\.$#'
            path: src/Soar.php
