<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  bootstrap="vendor/autoload.php"
  cacheResultFile=".build/phpunit/.phpunit.result.cache"
  colors="true"
  verbose="true"
  xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
>
  <coverage>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
    <exclude>
      <directory>src/Support</directory>
      <file>src/PDOConnector-xxx.php</file>
      <!--<file>src/Support/helpers.php</file>-->
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Application Test Suite">
      <directory>./tests/</directory>
      <exclude>vendor/</exclude>
    </testsuite>
  </testsuites>
  <!--<listeners>
    <listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener">
      <arguments>
        <array>
          <element key="slowThreshold">
            <integer>500</integer>
          </element>
          <element key="reportLength">
            <integer>10</integer>
          </element>
          <element key="stopOnSlow">
            <boolean>false</boolean>
          </element>
        </array>
      </arguments>
    </listener>
  </listeners>-->
</phpunit>
