<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.5/phpunit.xsd"
  backupGlobals="false"
  backupStaticAttributes="false"
  bootstrap="tests/bootstrap.php"
  cacheResultFile="build/phpunit/.phpunit.result.cache"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  executionOrder="depends,defects"
  processIsolation="false"
  stopOnFailure="false"
  verbose="true"
>
  <testsuites>
    <testsuite name="Application Test Suite">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">src/</directory>
      <exclude>
        <directory>src/Support</directory>
        <file>src/PDOConnector-xxx.php</file>
      </exclude>
    </whitelist>
  </filter>
  <listeners>
    <listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener">
      <arguments>
        <array>
          <element key="slowThreshold">
            <integer>500</integer>
          </element>
          <element key="reportLength">
            <integer>10</integer>
          </element>
          <element key="stopOnSlow">
            <boolean>false</boolean>
          </element>
        </array>
      </arguments>
    </listener>
  </listeners>
</phpunit>
