# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Property Guanguans\\SoarPHP\\Soar\:\:\$binary \(string\) does not accept string\|false\.$#'
            count: 1
            path: ../src/Soar.php
