# total 6 errors

includes:
    - assign.propertyType.neon
    - callable.nonCallable.neon
    - complexity.functionLike.neon
    - disallowed.function.neon
    - new.static.neon
    - typePerfect.narrowPublicClassMethodParamType.neon
