# total 15 errors

includes:
    - callable.nonCallable.neon
    - complexity.functionLike.neon
    - disallowed.function.neon
    - method.childParameterType.neon
    - new.static.neon
    - typePerfect.narrowPublicClassMethodParamType.neon
