# total 7 errors

includes:
    - assign.propertyType.neon
    - disallowed.function.neon
    - guanguans.forbiddenSideEffects.neon
    - new.static.neon
    - typePerfect.narrowPublicClassMethodParamType.neon
